:root {
    --input-height: 50px;
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: white;
    cursor: none;
}
.cursor {
    display: inline-block;
    width: 2px;
    height: 40px;
    transform: translateY(8px);
    background-color: #02f;
    animation: cursor 1s  infinite;
}
@keyframes cursor {
    0% {
        background-color: transparent;
    }
    100% {
        background-color: #02f;
    }
    
}
.typing {
    background-color: #02f !important;
}
.button-cont {
    margin-top: 30px;
    display: flex;
    justify-content: center;
}
button {
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
    padding: 20px 30px;
    border-radius: 50px;
    border: none;
    backdrop-filter: blur(150px);
    border: solid 2px white;
    font-size: 16px;
    font-weight: 700;
    margin: 30px 30px;
    transition: .3s;
    display: flex;
    align-self: center;
    transition: all 0.4s;
}
button:hover {
    background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f);
    box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
    border: solid 2px white;
    backdrop-filter: blur(150px);
    transition: all 0.4s;
    transform: translateZ(30px);
}
.cursor-dot,
.cursor-outline  {
    position: fixed;
    border-radius: 50%;
    left: 0;
    top:0;
    pointer-events: none;
    transform: translate(-50%, -50%);
} 
.cursor-dot {
    width: 20px;
    height: 20px;
    /* border: 2px solid #c6c6c6; */
    /* transition: 50ms; */
    /* transition-duration: 50ms; */
}
.cursor-outline {
    width: 6px;
    height: 6px;
    /* background-color: #c6c6c6; */
}

.box-1 {
    padding: 20px 0;
    margin-top: 20px;
}
body {
    /* background: #222233; */
    background: #111122;
    background-image: url(introBg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#skills {
    color:#02f;
}
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0px auto;
}
.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    /* height: calc(100% - 300px); */
    /* padding-top: 200px; */
    background: #02f;
    /* background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f); */
    top: 30px;
    left: 30px;
    margin-left: -3px;
    z-index: -1;
    animation: moveline 3s linear forwards;
}
.container {
    /* padding: 10px 50px; */
    margin-top: 20%;
    margin-bottom: 1em;
    /* min-height: 50vh; */
    position: relative;
    width: calc(100% - 20px);
    /* background-color: rgba(0, 0, 0, 0.3); */
    /* animation: movedown 1s linear forwards; */
    /* opacity: 0; */
    left: 10px;
}
.separator:after {
    content : "";
    position: absolute;
    left    : 0;
    bottom  : 0;
    height  : 5px;
    width   : 50%;  /* or 100px */
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
    /* border-bottom:2px solid #fff; */
    box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
    border-radius: 5px;
    transform: translate(50%, 50%);
}
.footer {
    margin-top: 8%;
    position: relative;
    width: calc(100% - 20px);
    left: 10px;
}
/* animation: moveline 3s linear forwards; */
.container:nth-child(1) {
    animation-delay: 0s;
}
.container:nth-child(2) {
    animation-delay: 0.5s;
}
.container:nth-child(3) {
    animation-delay: 1.5s;
}
.container:nth-child(4) {
    animation-delay: 2s;
}
.container:nth-child(5) {
    animation-delay: 2.5s;
}
.container:nth-child(6) {
    animation-delay: 3s;
}
.container:nth-child(7) {
    animation-delay: 3.5s;
}
.container:nth-child(8) {
    animation-delay: 4s;
}
.text-box{
    padding: 20px 30px;
    padding-left: 60px;
    /* background: #fffa; */
    position: relative;
    /* border-radius: 6px; */
    font-size: 15px;
}
.timeline-title {
    margin-top: 2px;
    font-size: 20px;
    color: #ff0;
    left: -20px;
    position: relative;
}
.timeline-content {
    padding: 40px 0;
    font-size: 20px;
}
.timeline-content .heading {
    color: #556;
    display: block;
}
.timeline-content .content {
    z-index: 10 !important;
}
.timeline-content ul li {
    margin: 10px
}
small {
    font-size: 12px;
    color: lime;
}
/*
.left-cotainer-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right: 15px solid #fff;
    left: -15px;
}
.right-cotainer-arrow {
    height: 0;
    width: 0;
    position: absolute;
    top: 28px;
    z-index: 1;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid #fff;
    right: -15px;
}
*/
.left-cotainer-arrow {
    height: 15px;
    width: 15px;
    border-radius: 15px;
    background: #000;
    border: solid #02f;
    position: absolute;
    top: 28px;
    z-index: 1;
    /* border-top: 15px solid transparent; */
    /* border-bottom: 15px solid transparent; */
    /* border-right: 15px solid #fff; */
    left: 11px;
}
.psudo-line {
    font-size: 32px;
    margin-top: 120px;
    color: #445 !important;
}
.intro::before,
.skill::before,
.projects::before,
.certification::before,
.education::before,
.hobbies::before,
.contact::before,
.follow::before{
    position: absolute;
    z-index: -1;
    transform: translate(30px, -60%);
    font-size: 82px;
    color: #223;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
}
.intro::before {
    content: "ARTIST";
}
.skill::before {
    content: "SKILLS";
}
.projects::before {
    content: "WORK";
}
.certification::before {
    content: "CERT.";
}
.education::before {
    content: "EDU.";
}
.hobbies::before {
    content: "ART";
}
.contact::before {
    content: "CONTACT";
}
.follow::before {
    content: "FOLLOW";
}
.intro .a1 {
    font-family: cursive;
    font-weight: 600;
    color:#fff;
}
.intro p {
    margin-top: 20px;
    color: #99a;;
}
.intro .line {
    font-size: 40px;
    font-family: Roboto Condensed,Lato,Arial,sans-serif;
    font-weight: 100;
    color: #eee
}
.intro .name-line {
    font-size: 48px !important;
}
.intro .name {
    font-size: 48px;
    font-weight: 600 !important;
    font-family:Arial, Helvetica, sans-serif;
    animation: link 3s linear infinite;
}
.intro img {
    /* height: 500px; */
    position: absolute;
    top: -50px;
    right: 50px;
    width: 300px;
    opacity: .4;
    z-index: -1;
}
.intro .skills {
    font-family: Palatino,Georgia,Times New Roman,Times,serif;
    font-weight: 100 !important;
}
header {
    height: 150px;
}
nav {
    padding: 0px 30px;
    display: flex;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: inline;
}

nav ul li {
    display: inline;
}
.artist li a{
    text-decoration: none;
    color: #02f;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 44px;
    font-weight: 900;
    display: inline-block;
    animation: link 3s linear infinite;
}
.artist li a:hover{
    color: red !important;
}
.right-nav {
    position: absolute;
    right: 0;
}
.right-nav li a {
    text-decoration: none;
    color: #02f;
    padding: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 16px;
    display: inline-block;
    font-weight: 800;
}
.cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    max-width: 1100px;
    margin: 0 auto;
    /* min-height: 100vh; */
}
.cards * {
    box-sizing: border-box;
}
.card {
    width: 20em;
    background:#3344;
    border: solid 2px #fff4;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 2em;
}
.card img {
    width: 250px;
    position: relative;
    top: 6em;
    right: -4em;
    filter: drop-shadow(
        0px 10px 25px rgba(0, 0, 0, 0.5)
        );
    }
    .card .content {
        padding: 10px 30px 50px 30px;
        p {
            font-size: 14px;
            text-align: justify;
            line-height: 20px;
            margin-top: 10px;
        }
    }

    .card h2 {
        color: #fff4;
        margin: 0 0 0 0.8em;
    }
    .banner {
        height: 10em;
        background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
        padding-top: 3em;
        border-radius: 15px 15px 50% 100%;
    }
    .banner h2 {
        font-size: 120px;
        position: absolute;
        transform: translate(-50%, 0%);
    }
    .sizes ul {
        list-style: none;
    }
    .sizes .size {
        display: inline-block;
        margin: 0 0.5em;
        cursor: pointer;
        font-weight: 700;
    }
    .size:hover {
        color: #ccc;
    }
    .active {
        color: #ccc;
    }
    .details small {
        display: block;
        line-height: 24px;
        letter-spacing: 1px;
        font-size: 0.8em;
        
    }
    .cart {
        padding: 1em 1.1em;
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 300px;
        border-radius: 2em;
        color: #fff;
        border: none;
        margin: 0px auto;
        margin-top: 30px;
        font-weight: 700;
        cursor: pointer;
    }
    .cart:hover {
        background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f);
        box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
        border: solid 2px white;
        backdrop-filter: blur(150px);
        transition: .3s;
        transform: translateZ(30px);
    }
    .pop {
        transform: translateZ(50px)
        translateY(-40px)
        translateX(-30px);
        background: #fff4;
        background: linear-gradient(45deg, #fff4, #0004);
        backdrop-filter: blur(5px);
        box-shadow: 10px 10px 30px #000a;
        width: fit-content;
        padding: 40px 30px 15px 60px;
        border-radius: 10px;
        border: solid 2px #fffa;
    }
    .pop h1 {
        padding-bottom: 10px;
        margin-bottom: 10px;
        width: fit-content;
        color: #fff;
    }
    .pop h1::after {
        content : "";
        position: absolute;
        top: 0;
        left: 0;
        height  : 5px;
        width   : 50px;  /* or 100px */
        background: linear-gradient(-45deg,#ffa63daa,#ff3d77aa,#02fa);
        /* background: #000a; */
        /* box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f; */
        border-radius: 5px;
        transform: translate(20px, 20px);
        
    }
/* Art gallery */
.ag-cards {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 1em;
    max-width: 1100px;
    margin: 0 auto;
    /* min-height: 100vh; */
}
.ag-cards * {
    box-sizing: border-box;
}
.ag-card {
    border-radius: 15px;
    background:#fff;
    background: linear-gradient(45deg, #fff4, #0004);
    border: solid 2px #fff4;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    margin: 2em;
    /* border-radius:27% 73% 86% 14% / 22% 56% 44% 78% ;
    border-radius:50% ; */
    /* background: rgb(4,0,36); */
    /* background: linear-gradient(40deg,#ff00e4  0%,#02f  100%); */
}
.ag-card .img-bg {
    border-radius:27% 73% 86% 14% / 22% 56% 44% 78% ;
    border-radius:50% ;
    background: rgb(4,0,36);
    background: linear-gradient(40deg,#ff00e4  0%,#02f  100%);
}
.ag-card img {
    width: 20em;
    border-radius: 15px;
    background:#3344;
    border: solid 4px transparent;
    border-radius: 10px;
    position: relative;
    transform-style: preserve-3d;
    transform: perspective(1000px);
    aspect-ratio:  564 / 752;
    /* margin: 2em; */
}
.ag-card .ag-pop {
    transform: translateZ(50px);
    height: 5px;
}
.ag-card .ag-pop div {
    transform:
    translateY(-90px)
    translateX(-30%);
    background: #fff4;
    backdrop-filter: blur(5px);
    background: linear-gradient(45deg, #fff4, #0004);
    box-shadow: 10px 10px 30px #000a;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 10px;
    border: solid 2px #fffa;
}
.ag-card .ag-pop h3{
    color: white;
    font-size: 16px;
}
.ag-card .ag-pop p{
    color: lime;
    font-size: 12px;
}

.certificate {
    padding: 20px;
    margin: 10px auto;
    margin-bottom: 40px;
    border-radius: 7px;
    border: solid 1px white;
    backdrop-filter: blur(10px);
    a {
        color: #08f;
        font-size: 14px;
    }
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: #445;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #02f; 
}
@keyframes rgb {
    0% {
        background-color: red;
    }
    33% {
        background-color: lime;
    }
    66% {
        background-color: #02f;
    }
    100% {
        background-color: red;
    }
    
}
@keyframes link {
    0% {
        color: #f33;
    }
    33% {
        color: #3f3;
    }
    66% {
        color: #33f;
    }
    100%{
        color: #f33;
    }
    
    /* background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f); */
    
}
@keyframes movedown {
    0% {
        opacity: 1;
        transform: translateY(-30px);
    }
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
    
}
@keyframes moveline {
    0% {
        height: 0;
    }
    100% {
        height: 100%;
    }
}






/* For Desktop View */
@media screen and (min-width: 1024px) {
}

/* For Mobile Portrait View */
@media screen and (max-device-width: 480px)
and (orientation: portrait) {
    :root {
        --input-height: 50px;
    }
    *{
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
        box-sizing: border-box;
        color: white;
        cursor: none;
    }
    h2 {
        font-size: 20px;
    }
    h3 {
        font-size: 16px;
    }
    small {
        font-size: 10px;
    }
    p{
        font-size: 14px;
    }
    .cursor {
        display: inline-block;
        width: 2px;
        height: 40px;
        transform: translateY(8px);
        background-color: #02f;
        animation: cursor 1s  infinite;
    }
    @keyframes cursor {
        0% {
            background-color: transparent;
        }
        100% {
            background-color: #02f;
        }
        
    }
    .typing {
        background-color: #02f !important;
    }
    .button-cont {
        margin-top: 30px;
        display: flex;
        justify-content: center;
    }
    button {
        background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
        padding: 20px 30px;
        border-radius: 50px;
        border: none;
        backdrop-filter: blur(150px);
        border: solid 2px white;
        font-size: 16px;
        font-weight: 700;
        margin: 30px 30px;
        transition: .3s;
        display: flex;
        align-self: center;
        transition: all 0.4s;
    }
    button:hover {
        background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f);
        box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
        border: solid 2px white;
        backdrop-filter: blur(150px);
        transition: all 0.4s;
        transform: translateZ(30px);
    }
    .cursor-dot,
    .cursor-outline  {
        position: fixed;
        border-radius: 50%;
        left: 0;
        top:0;
        pointer-events: none;
        transform: translate(-50%, -50%);
    } 
    .cursor-dot {
        display: none;
        width: 20px;
        height: 20px;
        /* border: 2px solid #c6c6c6; */
        /* transition: 50ms; */
        /* transition-duration: 50ms; */
    }
    .cursor-outline {
        display: none;
        width: 6px;
        height: 6px;
        /* background-color: #c6c6c6; */
    }
    
    .box-1 {
        padding: 20px 0;
        margin-top: 20px;
    }
    body {
        /* background: #222233; */
        background: #111122;
        background-image: url(introBg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
    #skills {
        color:#02f;
    }
    .timeline {
        position: relative;
        max-width: 1200px;
        margin: 0px auto;
    }
    .timeline::after {
        content: '';
        position: absolute;
        width: 3px;
        /* height: calc(100% - 300px); */
        /* padding-top: 200px; */
        background: #02f;
        /* background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f); */
        top: 30px;
        left: 10px;
        margin-left: -3px;
        z-index: -1;
        animation: moveline 3s linear forwards;
    }
    .container {
        /* padding: 10px 50px; */
        margin-top: 8%;
        margin-bottom: 20%;
        /* min-height: 50vh; */
        position: relative;
        width: calc(100% - 20px);
        /* background-color: rgba(0, 0, 0, 0.3); */
        /* animation: movedown 1s linear forwards; */
        /* opacity: 0; */
        left: 10px;
    }
    .separator:after {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 5px;
        width   : 50%;  /* or 100px */
        background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
        /* border-bottom:2px solid #fff; */
        box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
        border-radius: 5px;
        transform: translate(50%, 50%);
    }
    .footer {
        margin-top: 8%;
        position: relative;
        width: calc(100% - 20px);
        left: 10px;
    }
    /* animation: moveline 3s linear forwards; */
    .container:nth-child(1) {
        animation-delay: 0s;
    }
    .container:nth-child(2) {
        animation-delay: 0.5s;
    }
    .container:nth-child(3) {
        animation-delay: 1.5s;
    }
    .container:nth-child(4) {
        animation-delay: 2s;
    }
    .container:nth-child(5) {
        animation-delay: 2.5s;
    }
    .container:nth-child(6) {
        animation-delay: 3s;
    }
    .container:nth-child(7) {
        animation-delay: 3.5s;
    }
    .container:nth-child(8) {
        animation-delay: 4s;
    }
    .text-box{
        padding: 20px 0px;
        padding-left: 20px;
        /* background: #fffa; */
        position: relative;
        /* border-radius: 6px; */
        font-size: 12px;
    }
    .timeline-title {
        margin-top: 4px;
        margin-left: 12px;
        font-size: 20px;
        color: #ff0;
        left: -20px;
        position: relative;
    }
    .timeline-content {
        padding: 40px 0px 0px 0px;
        font-size: 20px;
    }
    .timeline-content .heading {
        color: #556;
        /* height: 30px; */
        display: block;
    }
    .timeline-content .content {
        z-index: 10 !important;
    }
    .timeline-content ul li {
        margin: 10px
    }
    small {
        font-size: 12px;
        color: lime;
    }
    /*
    .left-cotainer-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-right: 15px solid #fff;
        left: -15px;
    }
    .right-cotainer-arrow {
        height: 0;
        width: 0;
        position: absolute;
        top: 28px;
        z-index: 1;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        border-left: 15px solid #fff;
        right: -15px;
    }
    */
    .left-cotainer-arrow {
        height: 15px;
        width: 15px;
        border-radius: 15px;
        background: #000;
        border: solid #02f;
        position: absolute;
        top: 28px;
        z-index: 1;
        /* border-top: 15px solid transparent; */
        /* border-bottom: 15px solid transparent; */
        /* border-right: 15px solid #fff; */
        left: -9px;
    }
    .psudo-line {
        font-size: 32px;
        margin-top: 120px;
        color: #445 !important;
    }
    .intro::before,
    .skill::before,
    .projects::before,
    .certification::before,
    .education::before,
    .hobbies::before,
    .contact::before,
    .follow::before{
        position: absolute;
        z-index: -1;
        transform: translate(30px, -60%);
        font-size: 42px;
        color: #223;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bolder;
    }
    .intro::before {
        content: "ARTIST";
    }
    .skill::before {
        content: "SKILLS";
    }
    .projects::before {
        content: "WORK";
    }
    .certification::before {
        content: "CERT.";
    }
    .education::before {
        content: "EDU.";
    }
    .hobbies::before {
        content: "ART";
    }
    .contact::before {
        content: "CONTACTS";
    }
    .follow::before {
        content: "FOLLOW";
    }
    .intro .a1 {
        font-family: cursive;
        font-weight: 600;
        color:#fff;
    }
    .intro p {
        margin-top: 20px;
        color: #99a;;
    }
    .intro .line {
        font-size: 40px;
        font-family: Roboto Condensed,Lato,Arial,sans-serif;
        font-weight: 100;
        color: #eee
    }
    .intro .name-line {
        font-size: 30px !important;
    }
    .intro .name {
        font-size: 30px;
        font-weight: 600 !important;
        font-family:Arial, Helvetica, sans-serif;
        animation: link 3s linear infinite;
    }
    .intro img {
        /* height: 500px; */
        /* display: none; */
        position: static;
        top: -50px;
        right: 50px;
        height: auto;
        width: 100%;
        opacity: .4;
        z-index: -1;
    }
    .intro .skills {
        font-family: Palatino,Georgia,Times New Roman,Times,serif;
        font-weight: 100 !important;
    }
    header {
        height: 50px;
        display: none;
    }
    nav {
        padding: 0px 30px;
        display: flex;
    }
    nav ul {
        list-style-type: none;
        padding: 0;
        display: inline;
    }
    
    nav ul li {
        display: inline;
    }
    .artist li a{
        text-decoration: none;
        color: #02f;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 20px;
        font-size: 44px;
        font-weight: 900;
        display: inline-block;
        animation: link 3s linear infinite;
    }
    .artist li a:hover{
        color: red !important;
    }
    .right-nav {
        display: none;
        position: absolute;
        right: 0;
    }
    .right-nav li a {
        text-decoration: none;
        color: #02f;
        padding: 20px;
        margin-top: 20px;
        margin-bottom: 10px;
        font-size: 16px;
        display: inline-block;
        font-weight: 800;
    }
    
.certificate {
    padding: 20px;
    margin: 10px auto;
    margin-bottom: 40px;
    border-radius: 7px;
    border: solid 1px white;
    backdrop-filter: blur(10px);

    a {
        color: #08f;
        font-size: 12px;
        word-break: break-all;
    }
}
    .cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1em;
        max-width: 1100px;
        margin: 0 auto;
        /* min-height: 100vh; */
    }
    .cards * {
        box-sizing: border-box;
    }
    .card {
        width: 400px;
        width: 100%;
        background:#3344;
        border: solid 2px #fff4;
        border-radius: 10px;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        margin: 20px 0;
    }
    .card img {
        width: 250px;
        position: relative;
        top: 6em;
        right: -4em;
        filter: drop-shadow(
            0px 10px 25px rgba(0, 0, 0, 0.5)
            );
        }
        .content {
            padding: 20px 20px;
            p {
                text-align: justify;
            }
        }
        .card h2 {
            color: #fff4;
            margin: 0 0 0 0.8em;
        }
        .banner {
            height: 7em;
            background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
            padding-top: 20px;
            border-radius: 15px 15px 50% 100%;
        }
        .banner h2 {
            font-size: 100px;
            position: absolute;
            transform: translate(-50%, 0%);
        }
        .sizes ul {
            list-style: none;
        }
        .sizes .size {
            display: inline-block;
            margin: 0 0.5em;
            cursor: pointer;
            font-weight: 700;
        }
        .size:hover {
            color: #ccc;
        }
        .active {
            color: #ccc;
        }
        .details small {
            display: block;
            line-height: 24px;
            letter-spacing: 1px;
            font-size: 0.8em;
            
        }
        .cart {
            padding: 1em 1.1em;
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 300px;
            border-radius: 2em;
            color: #fff;
            border: none;
            margin: 0px auto;
            margin-top: 30px;
            font-weight: 700;
            cursor: pointer;
        }
        .cart:hover {
            background: linear-gradient(0deg,#ffa63d,#ff3d77,#02f);
            box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f;
            border: solid 2px white;
            backdrop-filter: blur(150px);
            transition: .3s;
            transform: translateZ(30px);
        }
        .pop {
            transform: translateZ(50px)
            translateY(-40px)
            translateX(-30px);
            background: #fff4;
            background: linear-gradient(45deg, #fff4, #0004);
            backdrop-filter: blur(5px);
            box-shadow: 10px 10px 30px #000a;
            width: fit-content;
            padding: 20px 30px 15px 40px;
            border-radius: 10px;
            border: solid 2px #fffa;
        }
        .pop h1 {
            font-size: 20px;
            padding-bottom: 10px;
            margin-bottom: 10px;
            width: fit-content;
            color: #fff;
        }
        .pop h1::after {
            content : "";
            position: absolute;
            top: -10px;
            left: -10px;
            height  : 5px;
            width   : 50px;  /* or 100px */
            background: linear-gradient(-45deg,#ffa63daa,#ff3d77aa,#02fa);
            /* background: #000a; */
            /* box-shadow: 0px 4px 30px #ffa63d,0px -4px 30px #02f; */
            border-radius: 5px;
            transform: translate(20px, 20px);
            
        }
    
    /* Art gallery */
    .ag-cards {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 5px 0;
        max-width: 1100px;
        margin: 0 auto;
        /* min-height: 100vh; */
    }
    .ag-cards * {
        box-sizing: border-box;
    }
    .ag-card {
        border-radius: 15px;
        background:#fff;
        background: linear-gradient(45deg, #fff4, #0004);
        border: solid 2px #fff4;
        border-radius: 10px;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        margin: 2em;
        /* width: fit-content; */
        /* border-radius:27% 73% 86% 14% / 22% 56% 44% 78% ;
        border-radius:50% ; */
        /* background: rgb(4,0,36); */
        /* background: linear-gradient(40deg,#ff00e4  0%,#02f  100%); */
    }
    .ag-card .img-bg {
        border-radius:27% 73% 86% 14% / 22% 56% 44% 78% ;
        border-radius:50%;
        background: rgb(4,0,36);
        background: linear-gradient(40deg,#ff00e4  0%,#02f  100%);
    }
    .ag-card img {

        border-radius: 15px;
        background:#3344;
        border: solid 4px transparent;
        border-radius: 10px;
        position: relative;
        transform-style: preserve-3d;
        transform: perspective(1000px);
        aspect-ratio:  564 / 752;
        width: 100%;
        /* margin: 2em; */
    }
    .ag-card .ag-pop {
        transform: translateZ(50px);
        height: 5px;
    }
    .ag-card .ag-pop div {
        transform:
        translateY(-90px)
        translateX(-30%);
        background: #fff4;
        backdrop-filter: blur(5px);
        background: linear-gradient(45deg, #fff4, #0004);
        box-shadow: 10px 10px 30px #000a;
        width: fit-content;
        padding: 10px 20px;
        border-radius: 10px;
        border: solid 2px #fffa;
    }
    .ag-card .ag-pop h3{
        color: white;
        font-size: 16px;
    }
    .ag-card .ag-pop p{
        color: lime;
        font-size: 12px;
    }
    
    /* width */
    ::-webkit-scrollbar {
        width: 10px;
    }
    /* Track */
    ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey;
    }
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: #445;
    }
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #02f; 
    }
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: orange;
        color: black;
    }
}

/* For Mobile Landscape View */
@media screen and (max-device-width: 640px)
and (orientation: landscape) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: cyan;
        color: black;
    }
}

/* For Mobile Phones Portrait or Landscape View */
@media screen
and (max-device-width: 640px) {
    .gfg-div {
        width: 400px;
        height: 200px;
        background-color: chartreuse;
        color: black;
    }
}

/* For iPhone 4 Portrait or Landscape View */
@media screen and (min-device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: brown;
        color: black;
    }
}

/* For iPhone 5 Portrait or Landscape View */
@media (device-height: 568px)
and (device-width: 320px)
and (-webkit-min-device-pixel-ratio: 2) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: cornflowerblue;
        color: black;
    }
}

/* For iPhone 6 and 6 plus Portrait or Landscape View */
@media (min-device-height: 667px)
and (min-device-width: 375px)
and (-webkit-min-device-pixel-ratio: 3) {
    .gfg-div {
        width: 400px;
        height: 400px;
        background-color: darkgoldenrod;
        color: black;
    }
};

/* progress bar */



.progress-container {
    margin: 100px auto !important;
    padding: 10px !important;
    width: 500px;
    text-align: center;
    display: block;
}

.progress {
    padding: 6px;
    margin: 20px 0;
    background: #ffffff22;
    border-radius: 6px;
    border: solid 1px #fff4;
    backdrop-filter: blur(2px);
}

.progress-bar {	
    height: 18px;
    background-color: #ee303c;  
    border-radius: 4px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;    
}

.progress-striped .progress-bar { 	
    background-color: #FCBC51; 
    width: 50%; 
    background-color: #02f;
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
    animation: progressAnimationStrike 6s;
}

@keyframes progressAnimationStrike {
    from { width: 0 }
    to   { width: 100% }
}

.contacts {
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0;
}
.contact-link-cont {
    margin: 10px;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 250px;
    font-size: 14px;
    font-weight: 500;
}
.contact-link-cont a {
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact-link-cont .icon {
    height: 40px;
    width: 40px;
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
    border: solid 2px #fff;
    border-radius: 50%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    margin-right: 20px;
    backdrop-filter: blur(15px);
}
.contact-link-cont .icon svg {
    height: 30px;
    width: 30px;
}
.contact-link-cont .icon svg path {
    fill: #fff;
}
/*
.form-container
form
.input-field
.lable
input
.input-bg
.required
*/

.form-container{
    /* max-width: 800px; */
    /* width: 800px; */
    box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
}
.form-container .text{
    text-align: center;
    font-size: 41px;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
    /* background: -webkit-linear-gradient(right, #f00, #F00, #00f, #f00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
}
.form-container form .form-row{
    display: flex;
    margin: 32px 0;
}
form .form-row .input-data{
    width: 100%;
    height: var(--input-height);
    margin: 40px  20px 0 20px;
    position: relative;
    /* border: solid 1px red; */
}


.input-data input,
.textarea textarea{
    display: block;
    width: 100%;
    height: var(--input-height);
    border: none;
    font-size: 17px;
    border-bottom: 2px solid rgba(0,0,0, 0.12);
    background: transparent;
    padding: 10px;
    z-index: 10;
    outline: none;
}

.input-data input:focus ~ label, .textarea textarea:focus ~ label,
.input-data input:valid ~ label, .textarea textarea:valid ~ label{
    transform: translate(4px, -44px);
    font-size: 14px;
    color: #0f0;
}
.textarea textarea{
    resize: none;
}
.input-data label{
    position: absolute;
    pointer-events: none;
    bottom: 10px;
    font-size: 16px;
    transition: all 1s ease;
}
.input-data input {
    background: transparent;
}
.textarea label{
    width: 100%;
    bottom: 10px;
    /* background: #fff; */
}
.input-data .underline{
    position: absolute;
    bottom: 0;
    height: 2px;
    width: 100%;
    background: #aaaaaa30;
    backdrop-filter: blur(15px);
    z-index: -1;
    transition: 1s;
    border-bottom: solid 3px #aaaaaa30;
}
.input-data .underline:before{
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    background: transparent;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}
.input-data input:focus ~ .underline:before,
.input-data input:valid ~ .underline:before,
.textarea textarea:focus ~ .underline:before,
.textarea textarea:valid ~ .underline:before{
    transform: scale(1);
}
.input-data input:focus ~ .underline,
.input-data input:valid ~ .underline,
.textarea textarea:focus ~ .underline,
.textarea textarea:valid ~ .underline{
    transform: scale(1);
    height: var(--input-height);
    border-bottom: solid 3px #fff;
}
.submit-btn {
    display: block;
}
.submit-btn .input-data{
    overflow: hidden;
    height: 45px!important;
    width: 25%!important;
    margin: 20px;
}
.submit-btn .input-data .inner{
    height: 100%;
    width: 300%;
    position: absolute;
    left: -100%;
    background: -webkit-linear-gradient(right, #56d8e4, #9f01ea, #56d8e4, #9f01ea);
    
    background: linear-gradient(-45deg,#ffa63d,#ff3d77,#02f);
    transition: all 0.4s;
}
.submit-btn .input-data:hover .inner{
    left: 0;
}
.submit-btn .input-data input{
    background: none;
    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    cursor: pointer;
    position: relative;
    z-index: 2;
}
@media (max-width: 700px) {
    .form-container .text{
        font-size: 30px;
    }
    .form-container form{
        padding: 10px 0 0 0;
    }
    .form-container form .form-row{
        display: block;
    }
    form .form-row .input-data{
        margin: 35px 0!important;
    }
    .submit-btn .input-data{
        width: 40%!important;
    }
}




/* Default styles for all devices */

/* Media query for small devices (phones) */
@media only screen and (max-width: 767px) {
    /* Styles for small devices */
}

/* Media query for medium devices (tablets) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Styles for medium devices */
}

/* Media query for large devices (desktops) */
@media only screen and (min-width: 992px) {
    /* Styles for large devices */
}







/* Media query for landscape orientation */
@media only screen and (orientation: landscape) {
    /* Styles for landscape orientation */
}

/* Media query for portrait orientation */
@media only screen and (orientation: portrait) {
    /* Styles for portrait orientation */
}

/* Media query for high-density (Retina) displays */
@media only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-resolution: 192dpi) {
    /* Styles for high-density displays */
}


/* Media query for print styles */
@media print {
    /* Styles for printing */
}


/* Media query for dark mode */
@media (prefers-color-scheme: dark) {
    /* Styles for dark mode */
}
